<header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Create new post</h1>
                        <hr class="small">
                        <span class="subheading">Use the form below to create a new blog post</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<%= render "form"%>
            </div>
            </div>
            </div>

